@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

#searchInput {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #79f2ee;
    display: flex;

}

/* Define CSS classes for image and its container */

.productImage {
    width: 250px;
    height: 250px;
    /* Maintain aspect ratio */
    /* Add other necessary styles */
}
ul {
    list-style: none;
}
